* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	background-color: #998b64;
}

.calculator-wrap {
	margin: 50px auto;
	width: 336px;
	background-color: #000000;
}
.calculator-result-screen {
	height: 80px;
	color: #ffffff;
	font-family: monospace;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 10px;
}

.calculator-inner-wrap {
	/* height: 50vh; */
	display: flex;
	flex-direction: column;
	text-align: center;
	/* flex-basis: 50px; */
	/* gap: 2px; */
	justify-content: space-between;
}
.row {
	display: flex;
	flex-direction: row;
	flex-basis: 84px;
	/* width: 60%; */
	align-self: stretch;
	justify-content: space-between;
	/* gap: 2px; */
}

.btn {
	border: none;
	background-color: #d8d9db;
	flex-basis: 24.5%;
	font-size: 30px;
	/* border: 1px solid #000000; */

	align-self: stretch;
	margin-bottom: 2px;
}
.btn:hover {
	background-color: #ebebeb;
}

.btn-last-col {
	background-color: #df974c;
	color: #ffffff;
}

.btn-last-col:hover {
	background-color: #dfb07e;
}

.btn.clear {
	flex-basis: 49.8%;
}

.btn.digit-zero {
	flex-basis: 74.8%;
}

.row:nth-child(odd) {
	margin-bottom: -1px;
}

.row:last-child {
	margin-bottom: -2px;
}
